@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-transparent m-0 flex items-center justify-center overflow-hidden;
  -webkit-app-region: no-drag;
}

* {
  -webkit-app-region: no-drag;
}

#error {
  @apply hidden text-red-500 text-center mt-10;
}

#app-container {
  @apply flex flex-col w-screen h-screen rounded-2xl overflow-hidden;
  -webkit-app-region: drag;
}

iframe {
  @apply w-full h-full border rounded-lg overflow-hidden;
}

.control-normal {
  @apply text-[40px];
}

.control-small {
  @apply text-[21px];
}

#drag-button {
  @apply cursor-grab;
  -webkit-app-region: drag; /* Enables dragging the window */
  @apply bg-black text-white px-5 py-1 rounded-full transition duration-200;
}
